bootloader
build
modules
tools
venv
zephyr
zephyr-*
zibal
nafarr
vexriscv
openocd
.repo
.west
docsource/source/docsource
symbiflow/
riscv32-unknown-elf
riscv64-zephyr-elf
repo
*tar.gz
__pycache__/
cmake
project/project/*
project/target/*
target/
embench-iot/
verilator/
*sh
*log
internal/*
!internal/.keep
tmp/
