bootloader
build
modules
tools
venv
zephyr
zephyr-*
zibal
zibal-fpl
vexriscv
openocd
.repo
.west
docsource/source/docsource
conda_installer.sh
symbiflow/
riscv32-unknown-elf
repo
*tar.gz
__pycache__/
cmake
project/
target/
